
/***********************************************
* Display 
************************************************/
.block{display: block;}
.inline-block{display: inline-block;}
.inline{display: inline;}
.flex{display: flex;}
.contents{display: contents;}
.hidden{display:none;}

/***********************************************
* 定位 
************************************************/
.static{position: static;}
.fixed{position: fixed;}
.relative{position: relative;}
.absolute{position: absolute;}
.sticky{position: sticky;}


/***********************************************
* 文本 
************************************************/
// 文本对齐
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
// 文本溢出
.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-ellipsis{text-overflow: ellipsis;}


/***********************************************
* 弹性布局 
************************************************/
.flex-row{flex-direction: row;}
.flex-col{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-around{justify-content: space-around;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.items-start{align-items: flex-start;}
.items-center{align-items: center;}
.items-stretch{align-items: stretch;}
.items-baseline{align-items: baseline;}
.flex-1{flex: 1 1 0%;}
.flex-auto{flex: 1 1 auto;}
.flex-initial{flex: 0 1 auto;}
.flex-none{flex:none;}
.flex-grow-1{flex-grow:1;}
.flex-grow-0{flex-grow:0}
.flex-shrink-1{flex-shrink:1;}
.flex-shrink-0{flex-shrink:0}


/***********************************************
* 交互 
************************************************/
// 用户选择
.select-none{user-select: none;}

// height
.height100 {height: 100%;}
.height100vh {height: 100vh;}
.minheight100vh {height: 100vh;}