
// variables
@import "./variables.scss";
// mixin
@import "./mixin.scss";
// common
@import "./common.scss";

* {
  outline:none;
}

body {
  color: #666;
  font-size: 16px;
  box-sizing: border-box;
  color: #222;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background: hsl(183, 97%, 27%);
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: none;
}

.scrollBar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background: hsl(183, 97%, 27%);
  -webkit-box-shadow: none;
}
.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: none;
}


//drag item ghost class
.customGhost {
  position: relative;
  width: auto;
}

// el-tree btns
.custom-tree-node {
  width: 100%;
  font-size: 14px;
  .node-operation {
    float: right;
  }
}