$text: #222;
$textHover: #787be8;
$textRed: #f56c6c;

$bgColor: #f6f7ff;
$bgColorHover: #787be8;

$borderColor: #f6f7ff;
$borderColorHover: #787be8;

$colorActive: hsl(183, 97%, 27%);
$colorActiveHover: hsl(183, 80%, 27%);